<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

In [ ]:
real_names = ["aaa", "bbb", "ccc"]

for name in real_names:         # name is not a variable previously defined; defined here as the elements of list real_names
    print(f"{name} is a Marvel superhero")

aaa is a Marvel superhero
bbb is a Marvel superhero
ccc is a Marvel superhero

In [16]:
count = 0
for count, name in enumerate(real_names):
    print(count, name)

#count: each iteration n+1 and remember it
#count increases 0,1,2,3 (STARTS FROM ZERO)
#{name} in enumerate(real_names) will follow corresponding count

0 aaa
1 bbb
2 ccc

In [ ]:
count = 0
for count, name in enumerate(real_names):
    count += 1
    print(f"{count}. {name} is a superhero")

# count = 0 must be placed outside (above) of for/enumerate statement

1. aaa is a superhero
2. bbb is a superhero
3. ccc is a superhero

In [19]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

for index, name in enumerate(real_names):
    superhero_name = super_names[index]     
    print(f'{name} is {superhero_name}!')

    # {name} = real_names[index] the same way {superhero_name} = super_names[index]

Natasha Romanoff is Black Widow!
Tony Stark is Iron Man!
Stephen Strange is Doctor Strange!

In [21]:
for i in [0,1,2]:
    print(i, real_names[i])
    # no need to use count, can replace it with any variable (since is previously unlabelled)
    # hardcoding: must manually type out 0,1,2,3,...

0 Natasha Romanoff
1 Tony Stark
2 Stephen Strange

In [ ]:
for i in range(3):
    print(i+1, real_names[i])
    # range(n) gives size of list, so no need to hardcode type it out

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

range(0, 3)

In [39]:
# alternative to code cell 19
for i in range(len(real_names)):
    real_name = real_names[i]
    super_name = super_names[i]
    print(f"{real_name} is the superhero {super_name}!")


print("What len(real_names) looks like:",len(real_names))
range(len(real_names))

# use range(): for loop will run a certainn number of repeats

# range(len (variable)): the list
# len(variable): itself gives the size of list as a single number: 3

Natasha Romanoff is the superhero Black Widow!
Tony Stark is the superhero Iron Man!
Stephen Strange is the superhero Doctor Strange!
What len(real_names) looks like: 3

range(0, 3)

In [ ]:
for i in range(5,10,2):
    print(i)
# range similar to indexing: start from x, end at y-1, in steps of n
# range always ends one short of ending number: y-1

5
7
9

In [ ]:
number = 0

while number < 5:
    print(number)
    number += 1

# while loop keeps running WHILE a condition holds true
# while loop checks condition at the start of each new lopp, continues only if condition still holds true

0
1
2
3
4

## Exercises

### Exercise 1

In [6]:
import numpy as np

temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

temperatures_celsius = np.array(temperatures_celsius)
temperatures_fahrenheit = temperatures_celsius*1.8 + 32

for index, temp_c in enumerate(temperatures_celsius):
    temp_f = temperatures_fahrenheit[index]
    print(temp_c, ",", temp_f)

0 , 32.0
5 , 41.0
10 , 50.0
15 , 59.0
20 , 68.0
25 , 77.0
30 , 86.0
35 , 95.0
40 , 104.0
45 , 113.0
50 , 122.0

In [ ]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')
# use end='\t' to make a tab
# now there won't be a new line entered after each print of {letter}{number}, for elements of the same alphabet

A1	A2	A3

B1	B2	B3

C1	C2	C3

### Exercise 2

In [8]:
for number_x in [1,2,3,4,5]:
    print(f'{number_x}:', end='\t')     # use end='\t' to replace new line with a tab, so 1,2,3,4,5 follows the "1:" in the same line
    for number_y in [1,2,3,4,5]:
        multiple = number_x*number_y
        print(f'{multiple}', end='\t')
    print(f'\n')

1:	1	2	3	4	5

2:	2	4	6	8	10

3:	3	6	9	12	15

4:	4	8	12	16	20

5:	5	10	15	20	25

### Exercise 3

In [6]:
import numpy as np
py_list = list(np.random.rand(10))


for i in range(1,11):
    heads = (np.random.rand(10) > 0.5).sum()
    print(f'Experiment {i}: No. of Heads = {heads}')

Experiment 1: No. of Heads = 5
Experiment 2: No. of Heads = 3
Experiment 3: No. of Heads = 7
Experiment 4: No. of Heads = 6
Experiment 5: No. of Heads = 5
Experiment 6: No. of Heads = 5
Experiment 7: No. of Heads = 5
Experiment 8: No. of Heads = 4
Experiment 9: No. of Heads = 6
Experiment 10: No. of Heads = 5

In [7]:
# correct
import numpy as np
exp = np.random.rand(10)
heads = (exp > 0.5).sum()       # replace all np.random.rand(10) with variable 'exp', so that randomisation doesn't repeat. exp refers to the same set of randomised numbers every time.
print(exp)
heads

[0.29767336 0.14322916 0.92611268 0.03173065 0.99576927 0.53284076
 0.61366318 0.30764288 0.33850676 0.29815209]

np.int64(4)

In [ ]:
#incorrect
np.random.rand(10)
list = list(np.random.rand(10))
heads = (np.random.rand(10) > 0.5).sum()
print(list)
heads

# making a list is not the answer to fixing the randomised 10 numbers. making a variable is!

[np.float64(0.9263459746251311), np.float64(0.3909882517263794), np.float64(0.4750157933584801), np.float64(0.9256967483143712), np.float64(0.9055200716111458), np.float64(0.24508890188098997), np.float64(0.08992607075964121), np.float64(0.8789948819106903), np.float64(0.9718581995510452), np.float64(0.48893345267665633)]

np.int64(6)

In [6]:
# incorrect
import numpy as np
np.random.rand(10)                  # randomised set of 10 will be replaced by np.random.rand(10) in lines below
heads = (np.random.rand(10) > 0.5).sum()
print(np.random.rand(10))
heads

[0.60313711 0.84438468 0.33313515 0.14501434 0.69973349 0.79466211
 0.25486729 0.81771014 0.4752726  0.02119651]

np.int64(6)