<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Exercises</span></div>

In [ ]:
name = "Batman"             # blue-coloured term: a variable
if name == "Batman":        # 
    print("That's great")
elif name == "Robin":
    print("THat's fine too")
else:
    print('Aw man')

# can use either "" or '', but should be consistent as " " since ' can be present in the argument with a different purpose (as an apostrophe)
print('eat hotdogs like it's)
print('eat hotdogs like it\'s')
# can use \' for apostrophe to remain part of string, not end of string

# elif = else if -> this gives instruction for when a specific alternative condition holds true

That's great

In [5]:
# str represents string (word/ syntax?)
# float represents decimal number

In [6]:
x = str('what is that')
print(x, type(x))

what is that <class 'str'>

In [7]:
x = 'what is that'
print(x, type(x))

what is that <class 'str'>

In [ ]:
x = int(1.234)      # 1.234 is truncated to give integer 1
print(x, type(x))

1 <class 'int'>

In [ ]:
a = 0.1
a3 = 0.3
print(a*3)

0.30000000000000004

In [11]:
a*3 == a3

False

In [17]:
import numpy as np

In [18]:
np.isclose(a*3, a3)

np.True_

In [ ]:
# f string/ string interpolation

text = name = "Toopee"
print(f"Hello {name}!")
print(f"Hello {name.upper()}!")
print(f"{text}")
x = 10
print(f"the value of {x} squared is {x**2}")
print(f"The value of pi to 6 dp is {np.pi:.6f}")
print(f"The value of pi to 6 dp is {np.pi:5.6e}")
# the f in .6f is used to tell the f-string to output the number in decimal notation
# the e in .6e is used to tell the f-string to output the number in scientific notation

# diff types of variables:f(float), d(integer), s(string)

print('Line 1\n\tLine2\n\t\tLine 3')
# command \n breaks line
# command \t represents a tab (indentation)

Hello Toopee!
Hello TOOPEE!
Toopee
the value of 10 squared is 100
The value of pi to 6 dp is 3.141593
The value of pi to 6 dp is 3.141593e+00
Line 1
	Line2
		Line 3

In [35]:
print('A\\B\\C')
# to print '\' must use '\\' instead

A\B\C

In [1]:
print('A\B\C')

A\B\C

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Magnesia\AppData\Local\Temp\ipykernel_25496\4209481580.py:1: SyntaxWarning: invalid escape sequence '\B'
  print('A\B\C')

In [45]:
fruits = ["apple", "banana"]
vegetables = ["celery", "kale"]
"apple" in fruits
"peach" not in fruits
"apple" in fruits and "celery" in vegetables
"apple" in fruits or "donut" in vegetables
# above questions are all answered: True
# 'not', 'in', 'and' 'or' can be used to ask questions

True

In [46]:
3 > 10

False

In [ ]:
3 > 'apple'
# Python cannot compare different types of elements (integers & string)

TypeError: '>' not supported between instances of 'int' and 'str'

In [48]:
'apple' > 'orange'

False

In [16]:
x, y = 42, 24
print(f'{x} and {y}')
print(f'{x=} and {y=}')
print(f'{x}= and {y}=')
print(f'x={x} and y={y}')

42 and 24
x=42 and y=24
42= and 24=
x=42 and y=24

In [62]:
x, y = 42/5, 24/5
print(f"{x=:.5f} and {y=:.3e}")

x=8.40000 and y=4.800e+00

In [ ]:
y = 40          # python reading from right to left:
y = 40 + 2      # the latest update to y = previous y + 'a'
print(y)        # print(y) will give the latest y output

42

In [ ]:
#Shorthand syntax: shorter code
y+= 2   
y = y + 2
y

In [10]:
user_input = input("What is your name?")
age = input("What is your age?")
print('How you doin', user_input+'!')
print(f"How you doin {age}!")

How you doin Monday!
How you doin 1000!

## Exercise 1

In [4]:
#trial
pi = 3.141592653589793
print(f"The value of pi to 2 decimal place is: {pi=:.2f}")

The value of pi to 2 decimal place is: pi=3.14

In [3]:
pi = 3.141592653589793
print(f"The value of pi to 2 decimal places is: {pi:.2f}")
print(f"The value of pi to 3 decimal places is: {pi:.3f}")
print(f"The value of pi to 4 decimal places is: {pi:.4f}")

The value of pi to 2 decimal places is: 3.14
The value of pi to 3 decimal places is: 3.142
The value of pi to 4 decimal places is: 3.1416

In [34]:
apple = 'apple'
price1 = '0.99'
print(f'{apple:<10} ${price1:>5}')       # to simplify, zip 2 lists (variables: fruit & price) into a dictionary 


#dictionary attempt
fruit = {
    'apple': 'apple',
    'banana': 'banana',
    'orange': 'orange'
}

price = {
    'A': '0.99',
    'B': '0.59',
    'C': '1.29'
}

apple      $ 0.99

In [ ]:
#trial

score = input("What is your score?")

if 0 <= score <= 34:            # is the "if, elif, else" template the expected direction for this exercise? yes!
    grade = 'fail'
elif 35 <= score <= 49:
    grade = 'C'
elif 50 <= score <= 69:
    grade = 'B'
elif 70 <= score <= 100:
    grade = 'A'
else:
    grade = 'Unrecognised input!'

print("The student's letter grade is: {grade}")

TypeError: '<=' not supported between instances of 'int' and 'str'

In [ ]:
score = input("What is your score?")        #checking for what type of input the score variable is
print(type(score))                          #since it was a string (of texts), cannot be compared with integers 0, 34, etc.

<class 'str'>

In [ ]:
score = input("What is your score?")
score = float(score)            
                                # Variable 'score' can be an integer/ float(decimal nmbr), but error will occur if score = int(score) yet input is a decimal nmbr

if 0 <= score <= 34:            # is the "if, elif, else" template the expected direction for this exercise? yes!
    grade = 'fail'
elif 35 <= score <= 49:
    grade = 'C'
elif 50 <= score <= 69:
    grade = 'B'
elif 70 <= score <= 100:
    grade = 'A'
else:
    grade = 'Unrecognised score!'

print(f"The student's letter grade is: {grade}")

The student's letter grade is: Unrecognised score!

## Exercise 3 (Debugging Code)

In [ ]:
def factorial(n):
    if n < 0:
        return "Invalid Input"
    elif n == 0:
        return 1
    else: 
        result = 1
        for number in range(1, n+1):
            result *= number           # result = result * number
        return result
        
print(factorial (10))
print(factorial(-1))

3628800
Invalid Input